
body {
    color:#000;
    font-size: 75%;
    line-height: 1.2;
    font-family: "돋움", Dotum, "굴림", Gulim, Verdana, AppleGothic, sans-serif;
    background: url(../images/common/bg_body.gif) repeat-x 0 0;
}

#wrapper {
    background:url(../images/common/wrap_bg.jpg) no-repeat top center;
}

a:link { color:#4f4f4f; text-decoration: none; }
a:visited { color:#8a2e91; text-decoration: none; }
a:hover { color:#000; text-decoration: underline; }
a:focus { color:#000; text-decoration: underline; }
a:active { color: #000; text-decoration: none; }

div { border:1px dashed #f00; }

#header {
    position: relative;
    margin: 0 auto;
    width: 940px;
    height: 105px;
    background: url(../images/common/bg_menubox.png) no-repeat 0 0;
}

#header h2 {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.logo {
    position: absolute;
    top: 35px;
    left: 45px;
}

#infoMenu {
  margin-right: 77px;
  padding:8px 0 7px 0;
  text-align: right;
  font-size: 0.9em;
}

#infoMenu li {
  display: inline;
  padding: 0 3px 0 8px;
}

#infoMenu li a {
  color: #676767;
}

#infoMenu li a:hover,
#infoMenu li a:focus {
  color: #000;
}

#infoMenu .first-item {
  background: none;
}

#navigation {
  width: 842px;
  height: 43px;
  margin-left: 22px;
  background: url(../images/common/sitemenu_bg.gif) no-repeat 0 0;

}

#navigation li {
  float: left;
  display: inline; /* IE6 only */
}

#navigation li.first {
  margin-left: 217px;
}

#navigation li ul {
  position: absolute;
  top: 77px;
}

#navigation li ul a {
  padding: 7px 10px;
  color: #626262;
  background: url(../images/common/bullet_list.gif) no-repeat 4px 11px;
}

#navigation li ul a:hover,
#navigation li ul a:focus {
  color: #000;
  text-decoration: none;
  background: url(../images/common/bullet_list_ov.gif) no-repeat 1px 10px;
}


#contents {
    width: 940px;
    margin: 0 auto;
    min-height: 400px;
    padding-top: 30px;
    background:url(../images/common/contents_box.png) no-repeat 0 0;
}



#slogan {
    width: 940px;
    margin:20px auto 0;
}

#footer {
    height: 75px;
    margin-bottom: 15px;
    background:url(../images/common/footerbg.gif) repeat-x 0 0;
}

#subWrap {
    float:left;
    display:inline;/* IE6 double margin bug */
    width: 213px;
    height: 350px;
    margin-left: 30px;
    margin-right: 18px;
    background:url(../images/common/subwrap_bg.gif) no-repeat top right;
}

#contentsWrap {
    float:left;
    width:590px;
}

